@import '@payloadcms/ui/scss';

.admin-bar {
  @include small-break {
    display: none;
  }
}

.admin-bar__payload-root {
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: unset;
}
